<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <div class="grid">
                <div class="col-12">
                    <button pButton label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="create()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelected()"></button>
                </div>
                <div class="col-12">
                    <p-table #dt [value]="rooms" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                        [globalFilterFields]="['pax']" [rows]="10" [paginator]="true"
                        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        selectionMode="multiple" [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <h5 class="m-0">Manage Rooms</h5>
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                        placeholder="Search..." class="w-full sm:w-auto" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr style="height: 0.25rem; font-size: 12px">
                                <th style="width: 3rem" style="font-size: larger; background-color: grey; color: white;">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="pax" style="font-size: larger; background-color: grey; color: white;">
                                    Room No <p-sortIcon field="pax"></p-sortIcon>
                                </th>
                                <th pSortableColumn="pax" style="font-size: larger; background-color: grey; color: white;">
                                    Room Type <p-sortIcon field="pax"></p-sortIcon>
                                </th>
                                <th pSortableColumn="pax" style="font-size: larger; background-color: grey; color: white;">
                                    Is Booked <p-sortIcon field="pax"></p-sortIcon>
                                </th>
                                <th pSortableColumn="pax" style="font-size: larger; background-color: grey; color: white;">
                                    Max Pax <p-sortIcon field="pax"></p-sortIcon>
                                </th>
                                <th pSortableColumn="pax" style="font-size: larger; background-color: grey; color: white;">
                                    Rate <p-sortIcon field="pax"></p-sortIcon>
                                </th>
                                <th style="font-size: larger; background-color: grey; color: white;"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-room>
                            <tr style="height: 0.25rem; font-size: 11px">
                                <td>
                                    <p-tableCheckbox [value]="room"></p-tableCheckbox>
                                </td>
                                <td style="width: 16.666%; min-width: 10rem">
                                    <span class="p-column-title">Id</span>
                                    {{ room.id }}
                                </td>
                                <td style="width: 16.666%; min-width: 10rem">
                                    <span class="p-column-title">Room Type</span>
                                    {{ room.roomType }}
                                </td>
                                <td style="width: 16.666%; min-width: 10rem">
                                    <span class="p-column-title">Name</span>
                                    {{ room.isBooked }}
                                </td>
                                <td style="width: 16.666%; min-width: 10rem">
                                    <span class="p-column-title">Name</span>
                                    {{ room.pax }}
                                </td>
                                <td style="width: 16.666%; min-width: 10rem">
                                    <span class="p-column-title">Name</span>
                                    {{ room.rate | currency}}
                                </td>
                                <td style="font-size: 4%">
                                    <div class="flex">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="edit(room)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger"
                                            (click)="delete(room.id)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <!-- create modal -->
            <p-dialog [(visible)]="createModal" [style]="{ width: '30%' }" [modal]="true" class="p-fluid">
                <p-fieldset legend="New room">
                    <ng-template pTemplate="content">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <span
                                    class="p-float-label"
                                >
                                    <p-dropdown
                                        appendTo="body"
                                        [(ngModel)]="
                                            newRoom.roomType
                                        "
                                        [options]="
                                            roomTypes
                                        "
                                        placeholder="Select Room Type"
                                    >
                                        <ng-template
                                            pTemplate="selectedRoomType"
                                        >
                                            <span
                                                *ngIf="
                                                    newRoom &&
                                                    newRoom.roomType
                                                "
                                                >{{
                                                    newRoom.roomType
                                                }}
                                            </span>
                                        </ng-template>
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span>{{
                                                option
                                            }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <small
                                        class="ng-dirty ng-invalid"
                                        style="
                                            color: red;
                                        "
                                        *ngIf="
                                            submitted &&
                                            !newRoom.roomType
                                        "
                                    >
                                        Item name is
                                        required.
                                    </small>
                                    <label
                                        for="country"
                                    >
                                        Room Type</label
                                    >
                                </span>
                            </div>
                            <div class="field col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="number" pInputText id="pax" [(ngModel)]="newRoom.pax" required autofocus
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                submitted &&
                                                !newRoom.pax
                                        }" />
                                    <label htmlFor="pax">Pax</label>
                                </span>
                                <small class="ng-dirty ng-invalid" style="color: red"
                                    *ngIf="submitted && !newRoom.pax">Item pax is required.</small>
                            </div>
                            <div class="field col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="number" pInputText id="rate" [(ngModel)]="newRoom.rate" required autofocus
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                submitted &&
                                                !newRoom.rate
                                        }" />
                                    <label htmlFor="rate">Rate</label>
                                </span>
                                <small class="ng-dirty ng-invalid" style="color: red"
                                    *ngIf="submitted && !newRoom.rate">Item rate is required.</small>
                            </div>
                        </div>
                    </ng-template>
                </p-fieldset>
                <ng-template pTemplate="footer">
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                        (click)="hideDialog()"></p-button>
                    <p-button label="Save" icon="pi pi-check" styleClass="p-button-success" (click)="save()"
                        [disabled]="!newRoom.pax "></p-button>
                </ng-template>
            </p-dialog>

            <!-- edit modal -->
            <p-dialog [(visible)]="editModal" [style]="{ width: '30%' }" [modal]="true" class="p-fluid">
                <p-fieldset legend="Edit rooms">
                    <ng-template pTemplate="content">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <span
                                    class="p-float-label"
                                >
                                    <p-dropdown
                                        appendTo="body"
                                        [(ngModel)]="
                                            selectedRoom.roomType
                                        "
                                        [options]="
                                            roomTypes
                                        "
                                        placeholder="Select Room Type"
                                    >
                                        <ng-template
                                            pTemplate="selectedRoomType"
                                        >
                                            <span
                                                *ngIf="
                                                    selectedRoom &&
                                                    selectedRoom.roomType
                                                "
                                                >{{
                                                    selectedRoom.roomType
                                                }}
                                            </span>
                                        </ng-template>
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <span>{{
                                                option
                                            }}</span>
                                        </ng-template>
                                    </p-dropdown>
                                    <small
                                        class="ng-dirty ng-invalid"
                                        style="
                                            color: red;
                                        "
                                        *ngIf="
                                            submitted &&
                                            !selectedRoom.roomType
                                        "
                                    >
                                        Item name is
                                        required.
                                    </small>
                                    <label
                                        for="country"
                                    >
                                        Room Type</label
                                    >
                                </span>
                            </div>
                            <div class="field col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="number" pInputText id="pax" [(ngModel)]="selectedRoom.pax" required autofocus
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                submitted &&
                                                !selectedRoom.pax
                                        }" />
                                    <label htmlFor="pax">Pax</label>
                                </span>
                                <small class="ng-dirty ng-invalid" style="color: red"
                                    *ngIf="submitted && !selectedRoom.pax">Item pax is required.</small>
                            </div>
                            <div class="field col-12 md:col-12">
                                <span class="p-float-label">
                                    <input type="number" pInputText id="rate" [(ngModel)]="selectedRoom.rate" required autofocus
                                        [ngClass]="{
                                            'ng-invalid ng-dirty':
                                                submitted &&
                                                !selectedRoom.rate
                                        }" />
                                    <label htmlFor="rate">Rate</label>
                                </span>
                                <small class="ng-dirty ng-invalid" style="color: red"
                                    *ngIf="submitted && !selectedRoom.rate">Item rate is required.</small>
                            </div>
                        </div>
                    </ng-template>
                </p-fieldset>

                <ng-template pTemplate="footer">
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                        (click)="hideDialog()"></p-button>
                    <p-button label="Update" icon="pi pi-check" styleClass="p-button-success" (click)="update()"
                        [disabled]="!selectedRoom.pax"></p-button>
                </ng-template>
            </p-dialog>

            <!-- view Rate Type-->
            <p-dialog [(visible)]="viewModal" [style]="{ width: '10%' }" [modal]="true" class="p-fluid">
                <p-fieldset legend="View rooms">
                    <ng-template pTemplate="content">
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <h5>Room Type:</h5>
                                <p>{{ selectedRoom.roomType }}</p>
                                <hr/>
                            </div>
                            <div class="field col-12">
                                <h5>Room No:</h5>
                                <p>{{ selectedRoom.id }}</p>
                                <hr/>
                            </div>
                            <div class="field col-12">
                                <h5>Pax:</h5>
                                <p>{{ selectedRoom.pax }}</p>
                                <hr/>
                            </div>
                            <div class="field col-12">
                                <h5>Rate:</h5>
                                <p>{{ selectedRoom.rate }}</p>
                                <hr/>
                            </div>
                        </div>
                    </ng-template>
                </p-fieldset>
                <ng-template pTemplate="footer">
                    <p-button label="Close" icon="pi pi-times" styleClass="p-button-danger"
                        (click)="hideDialog()"></p-button>
                </ng-template>
            </p-dialog>
            <!-- delete moadal -->
            <p-dialog [(visible)]="deleteModal" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="selectedRoom">Are you sure you want to delete
                        <b>{{ selectedRoom.id }}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-times" styleClass="p-button-primary" label="No"
                        (click)="deleteModal = false"></p-button>
                    <p-button icon="pi pi-check" styleClass="p-button-danger" label="Yes"
                        (click)="confirmDelete(deleteSelectedRoom)"></p-button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
